<h1>Tweets</h1>
<%= link_to '트윗하기',new_tweet_path%><br>
<br>
<% @tweets.each do |tweet| %>
  제목 : <%= tweet.title %><br>
  내용 : <%= tweet.content%><br>
  글쓴이 : <%= tweet.user.email if tweet.user %><br>
  사진 : <%= image_tag tweet.photo_url, height: "200" if tweet.photo_url %><br>
  <%= link_to '트윗보기',"/tweets/#{tweet.id}"%><br>
<% end %><br>
<%= paginate(@tweets) %>
