<!DOCTYPE html>
<html>
<head>
  <title>FormFor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to '트위터 홈', root_path %>
<% if user_signed_in? %>
  <%= link_to '로그아웃', destroy_user_session_path, method: "delete" %><br>
  <%= current_user.email %>'님 환영합니다.'   <!--devise떄문에 가능-->
<% else %>
  <%= link_to '로그인', new_user_session_path %>
<% end %>

<p class="notice"><%= flash[:notice] %></p>   <!-- <p class="notice"><%= notice %></p> 같은 의미-->
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
